<div class="center jumbotron">
  <h1>Le secret de l'univers !</h1>

  <h2>
    Bienvenue sur la page du secret de l'univers !
    
  </h2>

  <%= link_to "Decouvrir le secret", '#', class: "btn btn-lg btn-primary" %>
</div>

