
<% if logged_in? %>
<div class="center jumbotron">
  <h1>Le secret de l'univers est <br>42!</h1>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oSaMNvRyK5A?rel=0&amp;controls=0&amp;showinfo=0 &amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <% else %>
 <h3> Petit filou! tu croyais pouvoir connaitre le secret de l'univers sans te connecter ! </h3>
<%= link_to "Ok, je me connecte, pardon grand maitre", login_path %>
 <% end %>