<% if logged_in? %>
<h2>Tu es bien connecté pour voir le secret</h2>
<% else %>
<h2>Votre compte à bien été crée !</h2>
<%= link_to "Log In !", login_path, class: "btn btn-lg btn-primary" %>
 <% end %>

